




<div class="copy col-xs-12 col-sm-6">
    <p>COPYRIGHT &copy;2017 RIVERSIDE PIZZA</p>
</div>
<div class="info col-xs-12 col-sm-6">
    <p>Please report any bugs to <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <a href="https://www.facebook.com/lue.hang"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="https://github.com/Luehang"><i class="fa fa-github" aria-hidden="true"></i></a>
    </p>
</div>