{{!-- <div class="copy col-xs-12 col-sm-6">
    <p>COPYRIGHT &copy;2017 RIVERSIDE PIZZA</p>
</div> --}}

<footer id="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 l8">
                <ul class="footer-links">
                    <li>
                        <a href="/deals">Deals</a>
                    </li>
                    <li>
                        <a href="/pizza">Pizza</a>
                    </li>
                    <li>
                        <a href="/chili">Chili</a>
                    </li>
                </ul>
            </div>
            <div class="col s12 l4">
                <span class="copyright">COPYRIGHT &copy;2017 RIVERSIDE PIZZA</span>
            </div>
        </div>
    </div>
</footer>