<style>
    .advertise-line {
        text-align: center;
        background-color: rgb(84, 187, 84);
    }
    .lines {
        display: none;
        min-height: 22px;
        background-color: rgb(84, 187, 84);
        position: absolute;
        width: 100%;
        top: 0;
    }
    .initial-line {
        min-height: 22px;
        background-color: rgb(84, 187, 84);
    }
    .initial {
        display: block;
    }
    .line-fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: .5s;
        animation-name: fade;
        animation-duration: .5s;
    }
    @-webkit-keyframes fade {
        from {opacity: .9} 
        to {opacity: 1}
    }
    @keyframes fade {
        from {opacity: .9} 
        to {opacity: 1}
    }
</style>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="advertise-line">
        <div class="initial-line line-fade col-sm-12 col-md-12"></div>
        <div class="initial lines line-fade col-sm-12 col-md-12">
            <div class="line-text">15OFF for 15% off orders 5 dollars and over.</div>
        </div>
        <div class="lines line-fade col-sm-12 col-md-12">
            <div class="line-text">Look for flyer for 50% off in-store.</div>
        </div>
        <div class="lines line-fade col-sm-12 col-md-12">
            <div class="line-text">Hurry! Expires soon!</div>
        </div>
    </div>
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand-title navbar-brand" href="/">Riverside Pizza</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars" aria-hidden="true"></i> MENU <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/deals">
                            <i class="fa fa-envelope" aria-hidden="true"></i> DEALS
                        </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/pizza">
                            <i class="fa fa-cutlery" aria-hidden="true"></i> PIZZA
                        </a></li>
                        <li><a href="/chili">
                            <i class="fa fa-cutlery" aria-hidden="true"></i> CHILI
                        </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/drinks">
                            <i class="fa fa-glass" aria-hidden="true"></i> DRINKS
                        </a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{!-- {{# if admin }}
                    <li>
                        <a href="#">
                            <i class="fa fa-address-card-o" aria-hidden="true"></i>
                            <span class="badge"></span>
                        </a>
                    </li>
                {{/if}} --}}
                <li>
                    <a href="/shopping-cart">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Order/s
                        <span class="badge">{{session.cart.totalQty}}</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i> User Management <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {{# if admin }}
                            <li><a href="/user/profile">Admin Profile</a></li>
                            <li><a href="/admin/customerhistory">Customer History</a></li>
                            <li><a href="/admin/user-accounts">User Accounts</a></li>
                            {{!-- <li><a href="#">Customer Feedback</a></li> --}}
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/logout">Logout</a></li>
                        {{ else if login }}
                            <li><a href="/user/profile">User Profile</a></li>
                            <li><a href="/user/orderhistory">Order History</a></li>
                            {{!-- <li><a href="#">Real-time Feedback</a></li> --}}
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/logout">Logout</a></li>
                        {{ else }}
                            <li><a href="/user/signup">Sign up</a></li>
                            <li><a href="/user/signin">Sign in</a></li>
                        {{/if}}
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<script>
    let lineIndex = 0;

    function manualLines(n) {
        var i;
        var slides = document.getElementsByClassName("lines");
        if (n > slides.length - 1) {lineIndex = 0} 
        if (n < 0) {lineIndex = slides.length - 1}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none"; 
        }
        slides[lineIndex].style.display = "block"; 
    }

    setTimeout(function() {
        manualLines(lineIndex);
    }, 10);

    const autoLines = setInterval(function() {
        lineIndex++;
        manualLines(lineIndex);
    }, 3000);
</script>