<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Change Password</h3>
        <hr>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/confirm-password-change" method="POST">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <p class="description">Please enter your email and present password to confirm new password or cancel.</p>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input placeholder="name@example.com" type="email" id="email" name="email" class="form-control" autocomplete="email" required>
            </div>
            <div class="form-group">
                <label for="password">Present Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" id="password" name="newPassword" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Confirm New Password</label>
                <input type="password" id="password" name="newPasswordConfirmation" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">CONFIRM</button>
            <button type="submit" class="btn btn-danger" formaction="/user/profile" formmethod="GET">CANCEL</button>
        </form>
    </div>
</div>