/* Created a new css file for the home page. */

#landing-container {
    position: relative;
    height: 88vh;
    max-height: 88vh;
    overflow: hidden;
    margin-top: -20px;
    background-image: url(../img/pizza_01.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #888;
    background-blend-mode: multiply
}

#landing-cta {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
}

#landing-container .pulse {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#landing-container .pulse .material-icons {
    font-size: 32px;
}

#landing-container img {
    width: 200px;
    margin: auto;
    display: block;
}

#landing-container h1 {
    color: #FFF;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

/* Deals Section */
#deals-section {
    margin-top: 30px;
}

#deals-container {
    position: relative;
}

#deals-section img {
    width: 100%;
    border-bottom: 3px solid #E51C23;
}

#text-on-image-right {
    position: absolute;
    top: 50%;
    right: 60px;
    width: 40%;
    transform: translateY(-50%);
}

#text-on-image-right h1 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 4.6em;
    text-align: center;
    color: #e00000;
    color: #FFFFFF;
}

#deals-cta-btn {
    display: block;
    width: 148px;
    padding-left: 16px;
    margin: auto;
}

/* HANDCRAFTED SECTION */
#handcrafted-section {
    margin-top: 20px;
    margin-bottom: -10px;
    text-align: center;
    position: relative;
}

#handcrafted-section img {
    border-radius: 10px;
}

#handcrafted-section aside .container {
    position: absolute;
    width: 50% !important;
    top: 50%;
    transform: translateY(-50%);
}

#handcrafted-section h3 {
    color: #272727;
    text-transform: uppercase;
    font-weight: 300;
}

/* Menu Section Styles */
#menu-header {
    margin-top: 40px;
}

#menu-logo {
    margin: auto;
    display: block;
    width: 220px;
}

#menu-section h1 {
    color: #8BC34A;
    font-weight: 300;
}

/* Location section styles */
#location-section p {
    font-size: 1.25rem;
    font-weight: 300;
    color: #373737;
}

#location-section img {
    margin: auto;
    display: block;
    margin-top: 10px;
    width: 200px;
}

#location-section aside .container {
    width: 100% !important;
}

#location-section .btn {
    padding: 0 16px;
    width: 202px;
    display: block;
    margin: auto;
}

/* Slideshow/carousel section */
#slideshow-section .carousel {
    margin: auto;
    display: block;
    width: 100%;
}

#slideshow-section .carousel-slider {
    max-width: 700px;
}

#slideshow-section .carousel-item h4 {
    position: absolute;
    width: 100%;
    text-align: center;
}

/* GENERIC STYLES */
.vines {
    margin: 30px auto 0 auto;
    display: block;
    width: 80%;
    max-width: 500px;
}

.flipped {
    transform: rotate(180deg);
    margin-top: 30px;
}

div.divider {
    margin-top: 40px;
}

.card-action a {
    color: #03A9F4 !important;
}

/***************** Media Queries *****************/

@media (max-width: 992px) {   
    /* Landing media queries (width: 992) */
    #landing-container #landing-cta {
        top: 10%;
    }
    
    #landing-container h1 {
        font-size: 2.2em;
    }
    
    #text-on-image-right {
        width: 60%;
        right: 10px;
    }
    
    /* Deals section media queries (width: 992) */
    #deals-container h1 {
        width: 100%;
        font-size: 2.9em;
    }
    
    /* Handcrafted media queries (width: 992) */
    #handcrafted-section h3 {
        font-size: 2em;
    }
    
    /* Location media queries (width: 992) */
    
    #location-section aside .material-icons {
    }
}

@media (max-width: 600px) {
    /* Landing media queries (width: 600) */
    #landing-container {
        background-attachment: unset;
    }
    
    #landing-cta img {
        width: 160px;
    }
    
    /* Deals section media queries (width: 600) */    
    #deals-img {
        display: none;
    }
    
    #text-on-image-right {
        margin-top: 40px;
        position: relative;
        top: unset;
        right: unset;
        transform: none;
        width: 100%;
    }
    
    #text-on-image-right h1 {
        color: #272727;
        font-weight: 400;
    }
    
    /* Handcrafted media queries (width: 600) */
    #handcrafted-section aside .container {
        position: relative;
        width: 100% !important;
        transform: none;
        margin-top: -30px;
        padding-bottom: 20px;
    }
    
    #location-section aside .container {
        width: 80% !important;
        min-width: 200px;
    }
}

@media (max-height: 500px) {
    #landing-container img {
        width: 120px;
    }
    
    #landing-container .pulse {
        bottom: 60px;
    }
}
