#hero-container {
    margin-top: -100px;
    height: 500px;
    background-image: url(../img/pizza_05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60px;
    position: relative;
}

#hero-container aside {
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding: 8px 16px;
    background-color: rgba(69, 159, 66, 0.9);
    border-radius: 1px;
}

#hero-container aside h3 {
    margin: 0 !important;
    font-size: 3.5em;
    color: #FFF;
    font-weight: 300;
}

div.divider:nth-child(1) {
    margin: 30px 0;
}

#add-topping-btn {
    position: absolute;
    display: block;
    width: 32px !important;
    height: 32px !important;
    padding: 0;
    border-radius: 50%;
    box-shadow: none;
}

#add-topping-btn .material-icons {
    font-size: 32px;
    line-height: 32px;
    color: #fff !important;
}

.remove-topping-btn {
    position: absolute;
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;
    line-height: 40px;
    box-shadow: none;
}

.remove-topping-btn .material-icons {
    color: #FFF !important;
    font-size: 22px;
    line-height: 32px;
}

.select-disabled {
    color: #ccc !important;
    pointer-events: none;
}

.btn-aside-form-option {
    position: absolute;
    top: -20px;
    right: -8px;
}

.btn-aside-form-option .btn {
    pointer-events:  visible;
    left: 6px;
    top: -5px;
}

.btn-aside-form-option p {
    color: #000 !important;
    font-size: 0.8em;
    position: absolute;
    text-align: center;
    top: 20px;
    line-height: 11px;
}

#pizza-form-submit {
    margin: auto;
    margin-top: 40px;
    margin-bottom: -20px;
}

#receipt-container {
    min-height: 160px;
    background-color: #FFF;
    box-shadow: 1px 1px 2px #BBB;
    padding: 20px;
}

#receipt-container h4 {
    margin: 0;
    margin-bottom: 10px;
}

#receipt-container h6 {
    font-weight: bold;
    margin-top: 16px;
}

#receipt-container ul li {
}

#receipt-container span {
    font-weight: bold;
    display: block;
    margin-top: 12px;
}

.border-left {
    border-left: 1px solid #cfcfcf;
}

/**********************************/
/* MEDIA QUERIES max-width: 962px */
/**********************************/

@media (max-width: 992px) {
    #receipt-container {
        margin-top: 40px;
    }
}

/**********************************/
/* MEDIA QUERIES max-width: 600px */
/**********************************/

@media (max-width: 600px) {
    #hero-container h3 {
        font-size: 2.4em !important;
    }
}

/**********************************/
/* MEDIA QUERIES max-width: 400px */
/**********************************/

@media (max-width: 400px) {
    
    #pizza-form ul li span {
        font-size: 0.9em;
    }
}


