<link rel="stylesheet" href="/stylesheets/chili.css">
<link rel="stylesheet" href="/stylesheets/pizza.css">

<h1>DEALS</h1>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="thumbnail clearfix">
                <div style="width: 30%">
                    <img src="/img/pizza6.jpg" alt="..." class="img-responsive">
                </div>
            </div>
        </div>
    </div>