<link rel="stylesheet" href="/stylesheets/chili.css">
<link rel="stylesheet" href="/stylesheets/pizza.css">

<h1>PIZZA</h1>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="thumbnail clearfix">
                <form class="pull-left" style="width: 70%" action="/add-to-cart/id?model=pizza" method="POST">
                    <div class="caption">
                        <h3>Delicious Italian Pizza</h3>
                        <p class="description">One topping thin and extra crispy pizza. $1.25 for extra topping.</p>
                    </div>
                    <div class="styled-select">
                        <select id="pizza" name="pizza">
                            <option value="small" selected>Small 1 topping $6.99</option> 
                            <option value="medium">Medium 1 topping $9.80</option>
                            <option value="large">Large 1 topping $12.80</option>
                        </select>
                    </div>
                    <div class="styled-select">
                        <select id="pizza-topping" name="toppingOne">
                            <option value="none">Empty $0.00</option>
                            <option value="Italian Sausage" selected>Italian Sausage $0.00</option>
                            <option value="Pepperoni">Pepperoni $0.00</option>
                            <option value="Mushrooms">Mushrooms $0.00</option>
                            <option value="Onions">Onions $0.00</option>
                            <option value="Black Olives">Black Olives $0.00</option>
                            <option value="Extra Cheese">Extra Cheese $0.00</option>
                            <option value="Extra Sauce">Extra Sauce $0.00</option>
                        </select>
                    </div>
                    <div class="styled-select">
                        <select id="pizza-topping" name="toppingTwo">
                            <option value="none" selected>Empty $0.00</option>
                            <option value="Italian Sausage">Italian Sausage $1.25</option>
                            <option value="Pepperoni">Pepperoni $1.25</option>
                            <option value="Mushrooms">Mushrooms $1.25</option>
                            <option value="Onions">Onions $1.25</option>
                            <option value="Black Olives">Black Olives $1.25</option>
                            <option value="Extra Cheese">Extra Cheese $1.25</option>
                            <option value="Extra Sauce">Extra Sauce $1.25</option>
                        </select>
                    </div>
                    <div class="styled-select">
                        <select id="pizza-topping" name="toppingThree">
                            <option value="none" selected>Empty $0.00</option>
                            <option value="Italian Sausage">Italian Sausage $1.25</option>
                            <option value="Pepperoni">Pepperoni $1.25</option>
                            <option value="Mushrooms">Mushrooms $1.25</option>
                            <option value="Onions">Onions $1.25</option>
                            <option value="Black Olives">Black Olives $1.25</option>
                            <option value="Extra Cheese">Extra Cheese $1.25</option>
                            <option value="Extra Sauce">Extra Sauce $1.25</option>
                        </select>
                    </div>
                    <div class="styled-select">
                        <select id="pizza-topping" name="toppingFour">
                            <option value="none" selected>Empty $0.00</option>
                            <option value="Italian Sausage">Italian Sausage $1.25</option>
                            <option value="Pepperoni">Pepperoni $1.25</option>
                            <option value="Mushrooms">Mushrooms $1.25</option>
                            <option value="Onions">Onions $1.25</option>
                            <option value="Black Olives">Black Olives $1.25</option>
                            <option value="Extra Cheese">Extra Cheese $1.25</option>
                            <option value="Extra Sauce">Extra Sauce $1.25</option>
                        </select>
                    </div>
                    <div class="styled-select">
                        <select id="pizza-topping" name="toppingFive">
                            <option value="none" selected>Empty $0.00</option>
                            <option value="Italian Sausage">Italian Sausage $1.25</option>
                            <option value="Pepperoni">Pepperoni $1.25</option>
                            <option value="Mushrooms">Mushrooms $1.25</option>
                            <option value="Onions">Onions $1.25</option>
                            <option value="Black Olives">Black Olives $1.25</option>
                            <option value="Extra Cheese">Extra Cheese $1.25</option>
                            <option value="Extra Sauce">Extra Sauce $1.25</option>
                        </select>
                    </div>
                    <div class="styled-select">
                        <select id="pizza-topping" name="toppingSix">
                            <option value="none" selected>Empty $0.00</option>
                            <option value="Italian Sausage">Italian Sausage $1.25</option>
                            <option value="Pepperoni">Pepperoni $1.25</option>
                            <option value="Mushrooms">Mushrooms $1.25</option>
                            <option value="Onions">Onions $1.25</option>
                            <option value="Black Olives">Black Olives $1.25</option>
                            <option value="Extra Cheese">Extra Cheese $1.25</option>
                            <option value="Extra Sauce">Extra Sauce $1.25</option>
                        </select>
                    </div>
                    <div class="styled-select">
                        <select id="pizza-topping" name="toppingSeven">
                            <option value="none" selected>Empty $0.00</option>
                            <option value="Italian Sausage">Italian Sausage $1.25</option>
                            <option value="Pepperoni">Pepperoni $1.25</option>
                            <option value="Mushrooms">Mushrooms $1.25</option>
                            <option value="Onions">Onions $1.25</option>
                            <option value="Black Olives">Black Olives $1.25</option>
                            <option value="Extra Cheese">Extra Cheese $1.25</option>
                            <option value="Extra Sauce">Extra Sauce $1.25</option>
                        </select>
                    </div>
                    <div class="clearfix">
                        <button type="submit" class="btn btn-success pull-right" role="button">Add to Order</button>
                    </div>
                </form>
                <div class="pull-right" style="width: 30%">
                    <img src="/img/pizza6.jpg" alt="..." class="img-responsive">
                </div>
            </div>
        </div>
    </div>
